@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.App {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

}

h1, h2 {
  color: blanchedalmond;
  font-size: 2.1rem;
}

body {
  font-family: 'Pacifico', cursive;
}

.task-card {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  flex-grow: 1;
}

.task-title.completed {
  text-decoration: line-through;
  text-decoration-thickness: 3px;

}

.task-buttons {
  display: flex;
  gap: 10px;
}

.task-buttons button {
  border-radius: 12px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.task-buttons button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.task-buttons .complete-button {
  background-color: #40E0D0;
  color: black;
  font-family: 'Pacifico', cursive;
  font-size: 14px;
}

.task-buttons .complete-button:hover {
  background-color: #1b9d90;
}

.task-buttons .invalidate-button {
  background-color: #FFFF00;
  color: black;
  font-family: 'Pacifico', cursive;
  font-size: 14px;
}

.task-buttons .invalidate-button:hover {
  background-color: #c4c416;
}

.task-buttons .delete-button {
  background-color: #FFBF00;
  color: black;
  font-family: 'Pacifico', cursive;
  font-size: 14px;
}

.task-buttons .delete-button:hover {
  background-color: #b48b13;
}

.task-form {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.task-form button {
  border-radius: 12px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: #BFFF00;
  color: black;
  font-family: 'Pacifico', cursive;
}

.task-form button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(74, 166, 13);
}

.task-form input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.5);
}

.container {
  background-image: url('./assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signature {
  position: relative;
  margin-top: auto;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: black;
  padding: 10px 0;
  font-size: 1rem;
}
